h2.title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Novelist';
    padding: 0;
    margin: 21px 0 10px 0;
}

h3.title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    padding: 0;
}

h4.title {
    font-size: 24px;
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
}
