.menu {
    /* Стили для контейнера меню */
    margin-top: 63px;
    width: 100%; /* или другая ширина по вашему выбору */
}

.menuList {
    /* Стили для списка меню */
    list-style: none; /* убираем маркеры списка */
    margin: 0; /* убираем внешние отступы */
    padding: 0; /* убираем внутренние отступы */
}

.menuList li {
    /* Стили для пунктов меню */
    padding: 10px 5px; /* отступы для каждого пункта */
    cursor: pointer; /* курсор в виде указателя */
    border-bottom: 1px solid #776F60; /* граница между пунктами */
}

.menuItem {
    /* Стили для ссылок внутри пунктов меню */
    text-decoration: none; /* убираем подчеркивание текста */
    color: inherit; /* цвет текста наследуется от родителя */
    display: block; /* ссылка занимает весь доступный блок, улучшает кликабельность */
}

.menuList li:hover {
    /* Стили для пунктов меню при наведении */
    background-color: rgba(233, 233, 233, 0.1); /* цвет фона при наведении */
}

.menuList li.selected {
    /* Стили для выбранного пункта меню */
    background-color: #776F60; /* цвет фона для выбранного пункта */
    color: #F6F6F4;
    font-weight: bold; /* жирность текста для выбранного пункта */
}