.contactCenter {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactFlex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 42px;
}
.contactItem img {
    width: 395px;
    height: 395px;
    object-fit: cover;
    border-radius: 50%;
}
p.aboutText {
    font-size: 36px;
}
p.text {
    margin-top: 21px;
    font-size: 20px;
}
p.text a {
    color: #776F60;
    text-decoration: underline;
}